In [89]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
facility_df = pd.read_csv('water-facilities-in-nigeria.csv')
facility_df.head()

,water_point_type,date_of_survey,community,ward,is_improved,functional,breakdown,lift_mechanism,facility_id,sector,facility_name,formhub_photo_id,gps,survey_id,unique_lga,latitude,longitude
0,Borehole,2012-07-29,DABAI SEME,RUMU DABAI SEME,True,False,Mechanical Issue,Hand Pump,QMVGI,water,Water Point,1343575314697.jpg,11.48131371 5.19336324 461.20001220703125 5.0,cec1f8e5-44f7-44c0-bc77-82879e2d9825,kebbi_zuru,11.481314,5.193363
1,Unimproved Well,2012-07-29,Gogadi,Sanchi,False,True,Functional,Manual,LGZDU,water,Water Point,1343556565144.jpg,11.34453216 5.26253448 382.1000061035156 5.0,c213c889-670b-4ef7-9894-3e91450452de,kebbi_zuru,11.344532,5.262534
2,Borehole,2012-07-28,UNGWAR SARKIN FULANI HARDO,ZODI,True,False,Poor Water Quality,Hand Pump,XIOJU,water,Water Point,1343477720611.jpg,11.49676172 5.43898396 432.20001220703125 5.0,c5aaf20f-f518-49a3-a52a-578283c5b779,kebbi_zuru,11.496762,5.438984
3,Borehole,2012-07-28,Kobo,Bedi,True,True,Functional,NaN,QUBGX,water,Water Point,1343478261680.jpg,11.4053778 5.32665655 366.70001220703125 5.0,bbfcad02-f31e-4447-8ede-b9fc621c289d,kebbi_zuru,11.405378,5.326657
4,Borehole,2012-07-29,Kware,Sanchi,True,True,Functional,Hand Pump,MHLFC,water,Water Point,1343565321469.jpg,11.35112162 5.22989217 381.20001220703125 5.0,d1a54cb9-0111-43df-bea1-6df651291a9f,kebbi_zuru,11.351122,5.229892

In [3]:
for i in facility_df.columns:
    print(i)

water_point_type
date_of_survey
community
ward
is_improved
functional
breakdown
lift_mechanism
facility_id
sector
facility_name
formhub_photo_id
gps
survey_id
unique_lga
latitude
longitude

In [4]:
facility_df.shape

(132510, 17)

In [5]:
df2= pd.read_csv('GRID3_Nigeria_-_Water_Points.csv')
df2.head()

,X,Y,OBJECTID,type_waterpoint,alt_name,name,wardcode,secondary_editor,editor,source,timestamp,globalid,id,lat,lon
0,9.274427,9.403963,66908,Borehole,NaN,Pushit Market Borehole,PLSMGU20,NaN,racheal.olarewaju,GRID,2018/04/30 06:51:16+00,1857d248-b1fd-48ee-8641-405a7141bfe8,66908,9.40,9.27
1,9.274553,9.400072,66909,Well,NaN,Pushit Government Well,PLSMGU20,NaN,racheal.olarewaju,GRID,2018/04/30 06:51:16+00,3dbcb8fb-97f9-412a-8298-b8c6f49867e4,66909,9.40,9.27
2,9.274558,9.400102,66910,Borehole,NaN,Pushit Borehole,PLSMGU20,NaN,racheal.olarewaju,GRID,2018/04/30 06:51:16+00,e79d6546-0eb3-4000-bab8-e19d89eab1a6,66910,9.40,9.27
3,9.331992,8.746308,66912,Borehole,NaN,Npap Borehole,PLSQAP10,NaN,racheal.olarewaju,GRID,2018/04/30 06:51:16+00,2ca830f3-fce3-476b-9160-beeb60ab1646,66912,8.75,9.33
4,9.329823,8.743232,66914,Well,NaN,Npap Community Well,PLSQAP10,NaN,racheal.olarewaju,GRID,2018/04/30 06:51:16+00,a7acfe13-179e-4029-a6f3-710b234d6854,66914,8.74,9.33

In [6]:
df2.shape

(28967, 15)

In [7]:
df3 = pd.read_csv('Water_Point_Data_Exchange__WPDx-Basic_.csv', dtype='object')

In [8]:
df3.head()

,row_id,#source,#lat_deg,#lon_deg,#report_date,#status_id,#water_source,#water_source_clean,#water_tech_clean,#water_tech,...,clean_adm2,clean_adm3,water_tech_original,water_source_original,lat_deg_original,lon_deg_original,management_clean,management_original,water_source_category,water_tech_category
0,168928,"Federal Ministry of Water Resources, Nigeria",6.2197817,7.006075,05/27/2015 12:00:00 AM,Yes,Improved Tube well or borehole,Borehole,Mechanized Pump,Motorised,...,AwkaSout,NaN,motorised,improved tube well or borehole,NaN,NaN,Other,other,Well,Mechanized Pump
1,169214,"Federal Ministry of Water Resources, Nigeria",6.2172267,6.90776,05/22/2015 12:00:00 AM,No,Improved Tube well or borehole,Borehole,Mechanized Pump,Motorised,...,Oyi,NaN,motorised,improved tube well or borehole,NaN,NaN,NaN,NaN,Well,Mechanized Pump
2,169259,"Federal Ministry of Water Resources, Nigeria",5.8981991,6.8390944,05/03/2015 12:00:00 AM,Yes,Improved Tube well or borehole,Borehole,Hand Pump,Hand pump,...,NnewiSou,NaN,hand pump,improved tube well or borehole,NaN,NaN,Health Care Facility,institutional management - health care facility,Well,Hand Pump
3,207839,"Federal Ministry of Water Resources, Nigeria",7.8310683,8.8338717,08/27/2015 12:00:00 AM,No,Improved Tube well or borehole,Borehole,Hand Pump,Manual,...,Guma,NaN,manual,improved tube well or borehole,NaN,NaN,NaN,NaN,Well,Hand Pump
4,208157,"Federal Ministry of Water Resources, Nigeria",7.0277082,8.5691409,08/23/2015 12:00:00 AM,Yes,Improved Tube well or borehole,Borehole,Hand Pump,Hand pump,...,Konshish,NaN,hand pump,improved tube well or borehole,NaN,NaN,Other,other,Well,Hand Pump

In [9]:
df3.iloc[:, 1:15].head()

,#source,#lat_deg,#lon_deg,#report_date,#status_id,#water_source,#water_source_clean,#water_tech_clean,#water_tech,#facility_type,#country_name,#adm1,#adm2,#adm3
0,"Federal Ministry of Water Resources, Nigeria",6.2197817,7.006075,05/27/2015 12:00:00 AM,Yes,Improved Tube well or borehole,Borehole,Mechanized Pump,Motorised,Improved,Nigeria,Anambra,Njikoka,NaN
1,"Federal Ministry of Water Resources, Nigeria",6.2172267,6.90776,05/22/2015 12:00:00 AM,No,Improved Tube well or borehole,Borehole,Mechanized Pump,Motorised,Improved,Nigeria,Anambra,Oyi,NaN
2,"Federal Ministry of Water Resources, Nigeria",5.8981991,6.8390944,05/03/2015 12:00:00 AM,Yes,Improved Tube well or borehole,Borehole,Hand Pump,Hand pump,Improved,Nigeria,Anambra,Ihala,NaN
3,"Federal Ministry of Water Resources, Nigeria",7.8310683,8.8338717,08/27/2015 12:00:00 AM,No,Improved Tube well or borehole,Borehole,Hand Pump,Manual,Improved,Nigeria,Benue,Guma,NaN
4,"Federal Ministry of Water Resources, Nigeria",7.0277082,8.5691409,08/23/2015 12:00:00 AM,Yes,Improved Tube well or borehole,Borehole,Hand Pump,Hand pump,Improved,Nigeria,Benue,Konshisha,NaN

In [10]:
osun = df3[df3['#adm1']=='Osun']

In [11]:
osun.head()

,row_id,#source,#lat_deg,#lon_deg,#report_date,#status_id,#water_source,#water_source_clean,#water_tech_clean,#water_tech,...,clean_adm2,clean_adm3,water_tech_original,water_source_original,lat_deg_original,lon_deg_original,management_clean,management_original,water_source_category,water_tech_category
27883,172259,"Federal Ministry of Water Resources, Nigeria",7.3679833,4.1760167,05/01/2015 12:00:00 AM,Yes,Improved Protected dug well,Protected Shallow Well,Hand Pump,Hand pump,...,Irewole,NaN,hand pump,improved protected dug well,NaN,NaN,Other,other,Well,Hand Pump
28137,178167,"Federal Ministry of Water Resources, Nigeria",7.64892,4.5297817,05/08/2015 12:00:00 AM,No,Improved Tube well or borehole,Borehole,Mechanized Pump,Motorised,...,Ede South,NaN,motorised,improved tube well or borehole,NaN,NaN,NaN,NaN,Well,Mechanized Pump
34161,177056,"Federal Ministry of Water Resources, Nigeria",7.7361167,4.44428,06/18/2015 12:00:00 AM,Yes,Improved Protected dug well,Protected Spring,NaN,Gravity,...,Egbedore,NaN,NaN,gravity,NaN,NaN,NaN,NaN,Spring,NaN
37681,172416,"Federal Ministry of Water Resources, Nigeria",7.6312067,4.743375,04/27/2015 12:00:00 AM,Yes,Improved Protected dug well,Protected Shallow Well,Mechanized Pump,Motorised,...,Ilesha West,NaN,motorised,improved protected dug well,NaN,NaN,Community Management,community management,Well,Mechanized Pump
37683,172452,"Federal Ministry of Water Resources, Nigeria",7.8389617,4.4782217,04/29/2015 12:00:00 AM,Yes,Improved Tube well or borehole,Borehole,Mechanized Pump,Motorised,...,Orolu,NaN,motorised,improved tube well or borehole,NaN,NaN,Direct Government Operation,direct government operation,Well,Mechanized Pump

In [12]:
osun.iloc[:, 0: 15]

,row_id,#source,#lat_deg,#lon_deg,#report_date,#status_id,#water_source,#water_source_clean,#water_tech_clean,#water_tech,#facility_type,#country_name,#adm1,#adm2,#adm3
27883,172259,"Federal Ministry of Water Resources, Nigeria",7.3679833,4.1760167,05/01/2015 12:00:00 AM,Yes,Improved Protected dug well,Protected Shallow Well,Hand Pump,Hand pump,Improved,Nigeria,Osun,Irewole,NaN
28137,178167,"Federal Ministry of Water Resources, Nigeria",7.64892,4.5297817,05/08/2015 12:00:00 AM,No,Improved Tube well or borehole,Borehole,Mechanized Pump,Motorised,Improved,Nigeria,Osun,Ede South,NaN
34161,177056,"Federal Ministry of Water Resources, Nigeria",7.7361167,4.44428,06/18/2015 12:00:00 AM,Yes,Improved Protected dug well,Protected Spring,NaN,Gravity,Improved,Nigeria,Osun,Ede North,NaN
37681,172416,"Federal Ministry of Water Resources, Nigeria",7.6312067,4.743375,04/27/2015 12:00:00 AM,Yes,Improved Protected dug well,Protected Shallow Well,Mechanized Pump,Motorised,Improved,Nigeria,Osun,Ilesha West,NaN
37683,172452,"Federal Ministry of Water Resources, Nigeria",7.8389617,4.4782217,04/29/2015 12:00:00 AM,Yes,Improved Tube well or borehole,Borehole,Mechanized Pump,Motorised,Improved,Nigeria,Osun,Irepodun,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46456,184380,"Federal Ministry of Water Resources, Nigeria",7.9063333,4.8188617,05/04/2015 12:00:00 AM,No,Improved Tube well or borehole,Borehole,Hand Pump,Hand pump,Improved,Nigeria,Osun,Boluwaduro,NaN
46459,184733,"Federal Ministry of Water Resources, Nigeria",7.6101967,4.7516133,05/12/2015 12:00:00 AM,Yes,Improved Tube well or borehole,Borehole,Mechanized Pump,Motorised,Improved,Nigeria,Osun,Ilesha East,NaN
46465,184476,"Federal Ministry of Water Resources, Nigeria",7.5701412,4.426588,05/08/2015 12:00:00 AM,Yes,Improved Tube well or borehole,Borehole,Hand Pump,Hand pump,Improved,Nigeria,Osun,Aiyedade,NaN
46470,184755,"Federal Ministry of Water Resources, Nigeria",7.5605817,4.5530383,04/28/2015 12:00:00 AM,No,Improved Tube well or borehole,Borehole,Hand Pump,Hand pump,Improved,Nigeria,Osun,Ife Central,NaN
46474,184849,"Federal Ministry of Water Resources, Nigeria",7.4015564,4.6094573,05/07/2015 12:00:00 AM,Yes,Improved Tube well or borehole,Borehole,Mechanized Pump,Motorised,Improved,Nigeria,Osun,Ife South,NaN

In [13]:
osun.iloc[:, 16: 35].head()

,#installer,#rehab_year,#rehabilitator,#management,#pay,#status,#fecal_coliform_value,#fecal_coliform_presence,#subjective_quality,#activity_id,#scheme_id,#notes,#photo_lnk,#orig_lnk,#data_lnk,public_data_source,#converted,#country_id,lat_lon_deg
27883,NaN,NaN,NaN,Other,No,Functional (and in use),NaN,NaN,Acceptable quality,NaN,NaN,Community High School Oke Ada,NaN,NaN,https://catalog.waterpointdata.org/datasets/fe...,https://catalog.waterpointdata.org/datafiles/f...,"#status_id, #water_source, #pay, #status, #man...",NG,"(7.3679833°, 4.1760167°)"
28137,NaN,NaN,NaN,NaN,No,Non-functional Technical breakdown,NaN,NaN,Acceptable quality,NaN,NaN,Alajue,NaN,NaN,https://catalog.waterpointdata.org/datasets/fe...,https://catalog.waterpointdata.org/datafiles/f...,"#status_id, #water_source, #pay, #status, #man...",NG,"(7.64892°, 4.5297817°)"
34161,NaN,NaN,NaN,NaN,No,Functional (and in use),NaN,NaN,Acceptable quality,NaN,NaN,alusekere,https://akvoflow-55.s3.amazonaws.com/images/c4...,NaN,https://catalog.waterpointdata.org/datasets/fe...,https://catalog.waterpointdata.org/datafiles/f...,"#status_id, #water_source, #pay, #status, #man...",NG,"(7.7361167°, 4.44428°)"
37681,NaN,NaN,NaN,Community Management,No,Functional (and in use),NaN,NaN,Acceptable quality,NaN,NaN,Ibosinni,https://akvoflow-55.s3.amazonaws.com/images/f4...,NaN,https://catalog.waterpointdata.org/datasets/fe...,https://catalog.waterpointdata.org/datafiles/f...,"#status_id, #water_source, #pay, #status, #man...",NG,"(7.6312067°, 4.743375°)"
37683,NaN,NaN,NaN,Direct Government Operation,No,Functional (and in use),NaN,NaN,Acceptable quality,NaN,NaN,Local Government Secretariat,https://akvoflow-55.s3.amazonaws.com/images/e5...,NaN,https://catalog.waterpointdata.org/datasets/fe...,https://catalog.waterpointdata.org/datafiles/f...,"#status_id, #water_source, #pay, #status, #man...",NG,"(7.8389617°, 4.4782217°)"

In [14]:
osun.iloc[:, 36: ].head()

,updated,New Georeferenced Column,count,clean_country_id,clean_country_name,clean_adm1,clean_adm2,clean_adm3,water_tech_original,water_source_original,lat_deg_original,lon_deg_original,management_clean,management_original,water_source_category,water_tech_category
27883,06/30/2020 12:56:07 PM,POINT (4.1760167 7.3679833),1,NGA,Nigeria,Osun,Irewole,NaN,hand pump,improved protected dug well,NaN,NaN,Other,other,Well,Hand Pump
28137,06/30/2020 12:56:07 PM,POINT (4.5297817 7.64892),1,NGA,Nigeria,Osun,Ede South,NaN,motorised,improved tube well or borehole,NaN,NaN,NaN,NaN,Well,Mechanized Pump
34161,06/30/2020 12:56:07 PM,POINT (4.44428 7.7361167),1,NGA,Nigeria,Osun,Egbedore,NaN,NaN,gravity,NaN,NaN,NaN,NaN,Spring,NaN
37681,06/30/2020 12:56:07 PM,POINT (4.743375 7.6312067),1,NGA,Nigeria,Osun,Ilesha West,NaN,motorised,improved protected dug well,NaN,NaN,Community Management,community management,Well,Mechanized Pump
37683,06/30/2020 12:56:07 PM,POINT (4.4782217 7.8389617),1,NGA,Nigeria,Osun,Orolu,NaN,motorised,improved tube well or borehole,NaN,NaN,Direct Government Operation,direct government operation,Well,Mechanized Pump

In [15]:
osun['public_data_source']

27883    https://catalog.waterpointdata.org/datafiles/f...
28137    https://catalog.waterpointdata.org/datafiles/f...
34161    https://catalog.waterpointdata.org/datafiles/f...
37681    https://catalog.waterpointdata.org/datafiles/f...
37683    https://catalog.waterpointdata.org/datafiles/f...
                               ...
46456    https://catalog.waterpointdata.org/datafiles/f...
46459    https://catalog.waterpointdata.org/datafiles/f...
46465    https://catalog.waterpointdata.org/datafiles/f...
46470    https://catalog.waterpointdata.org/datafiles/f...
46474    https://catalog.waterpointdata.org/datafiles/f...
Name: public_data_source, Length: 5163, dtype: object

In [16]:
(osun.isnull().sum()).sum()

68647

In [17]:
np.product(osun.shape)

268476

In [18]:
(osun.isnull().sum()).sum()/np.product(osun.shape)

0.25569138395983254

In [19]:
osun['#adm3'].notnull().head()

27883    False
28137    False
34161    False
37681    False
37683    False
Name: #adm3, dtype: bool

In [20]:
osun['#adm3'].notnull().sum()

0

In [21]:
osun['#adm3'].isnull().sum()

5163

### Data Dictionary
Features of the datasets:
1. Resident Location Name
2. Resident Longitude
3. Resident Latitude
4. Population of the people in water location
5. Water Source- Whether it is a borehole, well or spring
6. Water Technology - Manual or Mechanized
7. Ownership - Private or Public
8. Water Location Name , for example community or village name
9. Water Location Longitude
10. Water Location Latitude

#### Proposal
That to every water point there should be selected four resident locations (located at the boundaries of the water location). This will ease the problem of finding how far water points are from residents. 

Resident's Longitude and Latitude together with the water point's location longitude and latitude can be used to calculate the distance between the resident and the water points.

In [22]:
import reverse_geocoder as rg
import pprint

In [23]:
def reverseGeocode(lat, long):
    result = rg.search((lat, long))[0].get('name')
     
    # result is a list containing ordered dictionary.
    pprint.pprint(result)

In [24]:
reverseGeocode(7.3679833,4.1760167)

Loading formatted geocoded file...
'Ikire'

In [25]:
reverseGeocode(54.134930, 12.045230)

'Elmenhorst'

In [26]:
reverseGeocode(7.5605817,4.5530383)

'Osu'

In [27]:
x= osun.dropna(how='all', axis=1)

In [28]:
x.shape[1]

40

In [29]:
for col in x.columns:
    print(col)

row_id
#source
#lat_deg
#lon_deg
#report_date
#status_id
#water_source
#water_source_clean
#water_tech_clean
#water_tech
#facility_type
#country_name
#adm1
#adm2
#install_year
#management
#pay
#status
#subjective_quality
#notes
#photo_lnk
#data_lnk
public_data_source
#converted
#country_id
lat_lon_deg
created_timestamp
updated
New Georeferenced Column
count
clean_country_id
clean_country_name
clean_adm1
clean_adm2
water_tech_original
water_source_original
management_clean
management_original
water_source_category
water_tech_category

In [30]:
x['clean_country_name'].value_counts(dropna=False)

Nigeria    5163
Name: clean_country_name, dtype: int64

In [31]:
x['#adm1'].value_counts(dropna=False)

Osun    5163
Name: #adm1, dtype: int64

In [32]:
x['#water_source'].value_counts(dropna=False)

Improved Tube well or borehole    4076
Improved Protected dug well       1042
Improved Protected spring           45
Name: #water_source, dtype: int64

In [33]:
for col in x.columns:
    print('='*55)
    print(col)
    print(x[col].value_counts(dropna=False))
    print('='*55)
    print()

=======================================================
row_id
172298    1
172173    1
177090    1
172657    1
172360    1
         ..
177977    1
179715    1
177913    1
172407    1
173216    1
Name: row_id, Length: 5163, dtype: int64
=======================================================

=======================================================
#source
Federal Ministry of Water Resources, Nigeria    5163
Name: #source, dtype: int64
=======================================================

=======================================================
#lat_deg
7.305565     3
7.6599417    2
7.4736283    2
7.730045     2
7.455905     2
            ..
7.9843717    1
7.25964      1
7.8074039    1
7.5828583    1
7.76795      1
Name: #lat_deg, Length: 5116, dtype: int64
=======================================================

=======================================================
#lon_deg
4.2514917    3
5.0537867    3
4.6731633    2
4.7498267    2
4.6667717    2
            ..
4.6850317    1
4.7342817    1
4.15076      1
4.8074717    1
4.567745     1
Name: #lon_deg, Length: 5113, dtype: int64
=======================================================

=======================================================
#report_date
05/08/2015 12:00:00 AM    378
04/29/2015 12:00:00 AM    360
05/12/2015 12:00:00 AM    328
05/11/2015 12:00:00 AM    317
04/30/2015 12:00:00 AM    314
05/07/2015 12:00:00 AM    311
05/04/2015 12:00:00 AM    309
04/28/2015 12:00:00 AM    287
04/27/2015 12:00:00 AM    279
05/13/2015 12:00:00 AM    263
05/02/2015 12:00:00 AM    247
05/06/2015 12:00:00 AM    241
05/01/2015 12:00:00 AM    236
05/14/2015 12:00:00 AM    206
05/05/2015 12:00:00 AM    195
05/09/2015 12:00:00 AM    179
05/15/2015 12:00:00 AM    130
05/19/2015 12:00:00 AM     85
05/18/2015 12:00:00 AM     79
05/22/2015 12:00:00 AM     69
05/24/2015 12:00:00 AM     64
05/10/2015 12:00:00 AM     62
05/20/2015 12:00:00 AM     42
05/16/2015 12:00:00 AM     38
04/22/2015 12:00:00 AM     30
05/21/2015 12:00:00 AM     23
05/23/2015 12:00:00 AM     16
05/03/2015 12:00:00 AM     14
06/25/2015 12:00:00 AM     13
06/18/2015 12:00:00 AM     12
06/19/2015 12:00:00 AM     10
05/17/2015 12:00:00 AM      9
06/17/2015 12:00:00 AM      7
05/25/2015 12:00:00 AM      4
06/20/2015 12:00:00 AM      3
06/23/2015 12:00:00 AM      2
01/01/2010 12:00:00 AM      1
Name: #report_date, dtype: int64
=======================================================

=======================================================
#status_id
Yes    2860
No     2303
Name: #status_id, dtype: int64
=======================================================

=======================================================
#water_source
Improved Tube well or borehole    4076
Improved Protected dug well       1042
Improved Protected spring           45
Name: #water_source, dtype: int64
=======================================================

=======================================================
#water_source_clean
Borehole                  4064
Protected Shallow Well    1038
Protected Spring            58
Undefined Spring             2
Undefined Shallow Well       1
Name: #water_source_clean, dtype: int64
=======================================================

=======================================================
#water_tech_clean
Hand Pump                  3237
Mechanized Pump            1882
NaN                          41
Mechanized Pump - Solar       3
Name: #water_tech_clean, dtype: int64
=======================================================

=======================================================
#water_tech
Hand pump                                2631
Motorised                                1882
Manual                                    606
Gravity                                    15
underconstruction                           6
abondoned                                   4
Solar                                       2
uncomplete                                  2
spring                                      2
Osogbo Sisters Cities Association USA       1
solar                                       1
Abandoned after complete digging            1
well                                        1
uncompleted bore hole project               1
undervonstruction                           1
abandon                                     1
uncompleted                                 1
yet to complete                             1
dungweel                                    1
not completed                               1
Uncompleted &. Unknown                      1
aboundoned                                  1
Name: #water_tech, dtype: int64
=======================================================

=======================================================
#facility_type
Improved    5160
Unknown        3
Name: #facility_type, dtype: int64
=======================================================

=======================================================
#country_name
Nigeria    5163
Name: #country_name, dtype: int64
=======================================================

=======================================================
#adm1
Osun    5163
Name: #adm1, dtype: int64
=======================================================

=======================================================
#adm2
Ejigbo            470
Aiyedade          305
Odo-Otin          287
Atakumosa West    242
Atakumosa East    242
Oriade            240
Osogbo            209
Obokun            207
Ife East          193
Ife South         183
Ife Central       181
Olorunda          176
Ede South         167
Boripe            164
Aiyedire          156
Irewole           147
Ila               146
Ifelodun          132
Boluwaduro        126
Iwo               126
Ilesha East       125
Egbedore          125
Ede North         117
Orolu             114
Isokan            109
Ola-Oluwa         104
Irepodun          101
Ife North          92
Ifedayo            89
Ilesha West        88
Name: #adm2, dtype: int64
=======================================================

=======================================================
#install_year
NaN     1272
2012     551
2014     537
2009     387
2013     290
2007     259
2011     249
2008     239
2010     216
2005     212
2015     175
2006     166
2004     108
2000      70
2003      67
2002      52
2001      47
1999      28
1998      28
1995      25
1992      21
1993      19
1997      18
1996      15
1987      15
1989      14
1988      14
1990      13
1991      11
1985       9
1986       8
1994       6
1983       5
1984       3
1980       3
1982       3
1978       2
1975       1
1976       1
1981       1
1979       1
1967       1
1917       1
Name: #install_year, dtype: int64
=======================================================

=======================================================
#management
Community Management                               2348
NaN                                                1748
Direct Government Operation                         434
Other                                               356
Institutional Management - School                   227
Institutional Management - Health Care Facility      35
Institutional Management - Other                      8
Private Operator/Delegated Management                 7
Name: #management, dtype: int64
=======================================================

=======================================================
#pay
No                                         4779
Yes At breakdown                            210
Yes Periodic Levy                           133
Yes Point of collection                      38
Yes For fuel                                  1
Yes fifty naira monthly for maintenance       1
Yes For Fuel                                  1
Name: #pay, dtype: int64
=======================================================

=======================================================
#status
Functional (and in use)                                                              2515
Non-functional Technical breakdown                                                   1864
Functional and in use but in bad shape                                                208
Non-functional Dry/low-yielding                                                       164
Non-functional Under rehabilitation                                                    75
                                                                                     ...
Functional (but not in use) Platform for the Tanks under repair                         1
Non-functional old but not completed since 2007                                         1
Non-functional Non functional since it was constructed                                  1
Non-functional It does not reach water level & likewise cut off from power source       1
Non-functional Under completion and abandon                                             1
Name: #status, Length: 109, dtype: int64
=======================================================

=======================================================
#subjective_quality
Acceptable quality      4437
No because of Colour     355
No because of Taste      283
No because of Odour       88
Name: #subjective_quality, dtype: int64
=======================================================

=======================================================
#notes
Ilesa                               28
Iperindo                            16
Federal government Girls College    14
Ikoyi                               13
Iwara                               12
                                    ..
Aro compound, Osogbo                 1
Ejemu-Oje palace                     1
HOLY CROSS ELEM. SCH. IYANA EGBA     1
Kosemoni road, Iyeku                 1
Ibaa palace                          1
Name: #notes, Length: 3710, dtype: int64
=======================================================

=======================================================
#photo_lnk
NaN                                                                                     52
https://akvoflow-55.s3.amazonaws.com/images/e196d64b-9389-4822-b360-b0e21e736255.jpg     1
https://akvoflow-55.s3.amazonaws.com/images/156f78cc-7010-4cb8-ac1c-5f2881d25e2c.jpg     1
https://akvoflow-55.s3.amazonaws.com/images/e1e9d2ec-0ef3-486b-b81c-56eca5f76778.jpg     1
https://akvoflow-55.s3.amazonaws.com/images/f0aef092-ad16-48cb-9a21-a7bea28ba458.jpg     1
                                                                                        ..
https://akvoflow-55.s3.amazonaws.com/images/7fe5fdb3-a1a8-4c01-b242-c8d31ac789b4.jpg     1
https://akvoflow-55.s3.amazonaws.com/images/35a83ddd-f0e4-4bae-bff6-627bba50d70c.jpg     1
https://akvoflow-55.s3.amazonaws.com/images/52334011-d9f2-4ec8-a091-709b71ce85c0.jpg     1
https://akvoflow-55.s3.amazonaws.com/images/043017de-3b3c-495a-874a-ba328957f54f.jpg     1
https://akvoflow-55.s3.amazonaws.com/images/5f77710b-c1b4-4f5d-aac8-e3c1d13d523b.jpg     1
Name: #photo_lnk, Length: 5112, dtype: int64
=======================================================

=======================================================
#data_lnk
https://catalog.waterpointdata.org/datasets/federal-ministry-of-water-resources-nigeria-5efb3667    5163
Name: #data_lnk, dtype: int64
=======================================================

=======================================================
public_data_source
https://catalog.waterpointdata.org/datafiles/federal-ministry-of-water-resources-nigeria-5efb3667.xlsx    5163
Name: public_data_source, dtype: int64
=======================================================

=======================================================
#converted
#status_id, #water_source, #pay, #status, #management    5163
Name: #converted, dtype: int64
=======================================================

=======================================================
#country_id
NG    5163
Name: #country_id, dtype: int64
=======================================================

=======================================================
lat_lon_deg
(7.305565°, 4.2514917°)     3
(8.0439683°, 4.7687783°)    2
(7.4807467°, 4.5565967°)    2
(7.6921767°, 4.55116°)      2
(8.0360033°, 5.0537867°)    2
                           ..
(7.8994283°, 4.6980467°)    1
(7.1941083°, 4.2962567°)    1
(7.320615°, 4.23811°)       1
(7.4644355°, 4.8245801°)    1
(7.9038217°, 4.32171°)      1
Name: lat_lon_deg, Length: 5137, dtype: int64
=======================================================

=======================================================
created_timestamp
06/30/2020 12:56:07 PM    5163
Name: created_timestamp, dtype: int64
=======================================================

=======================================================
updated
06/30/2020 12:56:07 PM    5163
Name: updated, dtype: int64
=======================================================

=======================================================
New Georeferenced Column
POINT (4.2514917 7.305565)     3
POINT (4.1877283 7.6004517)    2
POINT (4.7687783 8.0439683)    2
POINT (4.30611 7.57424)        2
POINT (4.75521 7.6351217)      2
                              ..
POINT (4.7093133 7.88888)      1
POINT (4.11996 7.58521)        1
POINT (4.4831517 7.8254783)    1
POINT (4.6141567 8.0213817)    1
POINT (4.6170519 7.1725678)    1
Name: New Georeferenced Column, Length: 5137, dtype: int64
=======================================================

=======================================================
count
1    5163
Name: count, dtype: int64
=======================================================

=======================================================
clean_country_id
NGA    5163
Name: clean_country_id, dtype: int64
=======================================================

=======================================================
clean_country_name
Nigeria    5163
Name: clean_country_name, dtype: int64
=======================================================

=======================================================
clean_adm1
Osun     4900
Oyo       115
Kwara     115
Ondo       21
Ogun        8
Ekiti       4
Name: clean_adm1, dtype: int64
=======================================================

=======================================================
clean_adm2
Ejigbo              427
Ife North           391
Ayedaade            388
Atakumosa West      354
Egbedore            271
Odo0tin             252
Obokun              237
Oriade              230
Iwo                 204
Ifelodun            180
Olorunda            169
Ilesha West         164
Ife South           160
Ila                 156
Irewole             155
Orolu               138
Ola-Oluwa           132
Irepodun            120
Ede South           113
Boluwaduro          102
Osogbo              102
Boripe               99
Ede North            83
Oyun                 78
Atakumosa East       72
Ogo-Oluw             64
Ilesha East          63
Ayedire              57
Ifedayo              51
Surulere             51
Isokan               31
IfeCentral           23
IleOluji/Okeigbo     15
Ife East             13
Ifedore               6
IjebuEast             4
IjebuNorth            4
EkitiSouth-West       3
Moba                  1
Name: clean_adm2, dtype: int64
=======================================================

=======================================================
water_tech_original
hand pump    2631
motorised    1882
manual        606
NaN            41
solar           3
Name: water_tech_original, dtype: int64
=======================================================

=======================================================
water_source_original
improved tube well or borehole    4064
improved protected dug well       1038
improved protected spring           43
gravity                             15
spring                               2
well                                 1
Name: water_source_original, dtype: int64
=======================================================

=======================================================
management_clean
Community Management                     2348
NaN                                      1748
Direct Government Operation               434
Other                                     356
School Management                         227
Health Care Facility                       35
Other Institutional Management              8
Private Operator/Delegated Management       7
Name: management_clean, dtype: int64
=======================================================

=======================================================
management_original
community management                               2348
NaN                                                1748
direct government operation                         434
other                                               356
institutional management - school                   227
institutional management - health care facility      35
institutional management - other                      8
private operator/delegated management                 7
Name: management_original, dtype: int64
=======================================================

=======================================================
water_source_category
Well      5103
Spring      60
Name: water_source_category, dtype: int64
=======================================================

=======================================================
water_tech_category
Hand Pump          3237
Mechanized Pump    1885
NaN                  41
Name: water_tech_category, dtype: int64
=======================================================

In [34]:
# Columns to drop
# Columns with single values, duplicated columns and irrelevant columns with respect to the goal of this project
# '#water_tech_clean', 'water_tech_original' and 'water_tech_category' are almost identical 

cols_with_single_value= ['row_id', '#source', '#facility_type', '#report_date', '#country_name', '#adm1', '#photo_lnk', '#data_lnk', '#converted', '#country_id', '#install_year', 'created_timestamp', 'updated', 'New Georeferenced Column', 'public_data_source', 'water_tech_category', 'water_tech_original', 'count', 'management_original', 'public_data_source', 'clean_country_id', 'clean_country_name']

In [35]:
df = x.drop(cols_with_single_value, axis=1)

In [36]:
df.shape

(5163, 19)

In [37]:
df.columns

Index(['#lat_deg', '#lon_deg', '#status_id', '#water_source',
       '#water_source_clean', '#water_tech_clean', '#water_tech', '#adm2',
       '#management', '#pay', '#status', '#subjective_quality', '#notes',
       'lat_lon_deg', 'clean_adm1', 'clean_adm2', 'water_source_original',
       'management_clean', 'water_source_category'],
      dtype='object')

In [38]:
# Remove the # prefixes in some columns
df['longitude'] = df['#lon_deg'].str.split('#',n= 1, expand=True)
df['status_id'] = df['#status_id'].str.split('#',n= 1, expand=True)
df['water_source'] = df['#water_source_clean'].str.split('#',n= 1, expand=True)
df['water_tech_clean'] = df['#water_tech_clean'].str.split('#',n= 1, expand=True)
df['water_tech'] = df['#water_tech'].str.split('#',n= 1, expand=True)
df['adm2']    = df['#adm2'].str.split('#',n= 1, expand=True)
df['management'] = df['#management'].str.split('#',n= 1, expand=True)
df['pay'] = df['#pay'].str.split('#',n= 1, expand=True)
df['status'] = df['#status'].str.split('#',n= 1, expand=True)
df['subjective_quality'] = df['#subjective_quality'].str.split('#',n= 1, expand=True)
df['water_point_location'] = df['#notes'].str.split('#',n= 1, expand=True)

In [39]:
df['water_point_location'].head()

27883    Community High School Oke Ada
28137                           Alajue
34161                        alusekere
37681                         Ibosinni
37683     Local Government Secretariat
Name: water_point_location, dtype: object

In [40]:
df['water_source_original'].value_counts(dropna=False)

improved tube well or borehole    4064
improved protected dug well       1038
improved protected spring           43
gravity                             15
spring                               2
well                                 1
Name: water_source_original, dtype: int64

In [41]:
df['latitude'] = df['#lat_deg'].str.split('#',n= 1, expand=True)

In [42]:
df['latitude'].head()

27883    7.3679833
28137      7.64892
34161    7.7361167
37681    7.6312067
37683    7.8389617
Name: latitude, dtype: object

In [43]:
df['water_source_category'].value_counts(dropna=False)

Well      5103
Spring      60
Name: water_source_category, dtype: int64

In [44]:
df['#water_tech_clean'].value_counts(dropna=False)

Hand Pump                  3237
Mechanized Pump            1882
NaN                          41
Mechanized Pump - Solar       3
Name: #water_tech_clean, dtype: int64

In [45]:
df[['#adm2','#notes']].value_counts()

#adm2           #notes
Ilesha West     Ilesa                                       28
Atakumosa East  Iperindo                                    16
Ife North       Federal government Girls College            14
Atakumosa East  Iwara                                       12
Ejigbo          Songbe                                      11
                                                            ..
                State General Hospital, Gedu Area            1
                State General Hospital, Gedu Area Ejigbo     1
                Station Road, Oke Oyo                        1
                Success School Area, Powerline               1
Osogbo          state high court, Osogno                     1
Length: 3795, dtype: int64

In [46]:
df['#notes'].value_counts(dropna=False)

Ilesa                               28
Iperindo                            16
Federal government Girls College    14
Ikoyi                               13
Iwara                               12
                                    ..
Aro compound, Osogbo                 1
Ejemu-Oje palace                     1
HOLY CROSS ELEM. SCH. IYANA EGBA     1
Kosemoni road, Iyeku                 1
Ibaa palace                          1
Name: #notes, Length: 3710, dtype: int64

In [47]:
df[['#adm2', '#notes']].value_counts()
#df.columns

#adm2           #notes
Ilesha West     Ilesa                                       28
Atakumosa East  Iperindo                                    16
Ife North       Federal government Girls College            14
Atakumosa East  Iwara                                       12
Ejigbo          Songbe                                      11
                                                            ..
                State General Hospital, Gedu Area            1
                State General Hospital, Gedu Area Ejigbo     1
                Station Road, Oke Oyo                        1
                Success School Area, Powerline               1
Osogbo          state high court, Osogno                     1
Length: 3795, dtype: int64

In [48]:
df['#notes'].value_counts()

Ilesa                               28
Iperindo                            16
Federal government Girls College    14
Ikoyi                               13
Iwara                               12
                                    ..
Aro compound, Osogbo                 1
Ejemu-Oje palace                     1
HOLY CROSS ELEM. SCH. IYANA EGBA     1
Kosemoni road, Iyeku                 1
Ibaa palace                          1
Name: #notes, Length: 3710, dtype: int64

In [49]:
df.head()

,#lat_deg,#lon_deg,#status_id,#water_source,#water_source_clean,#water_tech_clean,#water_tech,#adm2,#management,#pay,...,water_source,water_tech_clean,water_tech,adm2,management,pay,status,subjective_quality,water_point_location,latitude
27883,7.3679833,4.1760167,Yes,Improved Protected dug well,Protected Shallow Well,Hand Pump,Hand pump,Irewole,Other,No,...,Protected Shallow Well,Hand Pump,Hand pump,Irewole,Other,No,Functional (and in use),Acceptable quality,Community High School Oke Ada,7.3679833
28137,7.64892,4.5297817,No,Improved Tube well or borehole,Borehole,Mechanized Pump,Motorised,Ede South,NaN,No,...,Borehole,Mechanized Pump,Motorised,Ede South,NaN,No,Non-functional Technical breakdown,Acceptable quality,Alajue,7.64892
34161,7.7361167,4.44428,Yes,Improved Protected dug well,Protected Spring,NaN,Gravity,Ede North,NaN,No,...,Protected Spring,NaN,Gravity,Ede North,NaN,No,Functional (and in use),Acceptable quality,alusekere,7.7361167
37681,7.6312067,4.743375,Yes,Improved Protected dug well,Protected Shallow Well,Mechanized Pump,Motorised,Ilesha West,Community Management,No,...,Protected Shallow Well,Mechanized Pump,Motorised,Ilesha West,Community Management,No,Functional (and in use),Acceptable quality,Ibosinni,7.6312067
37683,7.8389617,4.4782217,Yes,Improved Tube well or borehole,Borehole,Mechanized Pump,Motorised,Irepodun,Direct Government Operation,No,...,Borehole,Mechanized Pump,Motorised,Irepodun,Direct Government Operation,No,Functional (and in use),Acceptable quality,Local Government Secretariat,7.8389617

In [50]:
np.product(df.shape)

160053

In [51]:
# Convert longitude, latitude, #lat_deg, #lon_deg columns to floats
df['#lat_deg'] = df['#lat_deg'].astype('float')
df['longitude'] = df['longitude'].astype('float')
df['#lon_deg'] = df['#lon_deg'].astype('float')
df['latitude'] = df['latitude'].astype('float')

In [52]:
df['#lon_deg'].describe()

count    5163.000000
mean        4.548474
std         0.217466
min         4.077187
25%         4.362621
50%         4.560503
75%         4.712130
max         5.062187
Name: #lon_deg, dtype: float64

In [53]:
0.985/2

0.4925

In [54]:
5.062187 - 4.077187

0.9849999999999994

In [55]:
5.062187 - 4.712130

0.3500569999999996

In [56]:
df['#lat_deg'].describe()

count    5163.000000
mean        7.681614
std         0.227048
min         7.060309
25%         7.510180
50%         7.704400
75%         7.883969
max         8.071160
Name: #lat_deg, dtype: float64

In [57]:
8.071160-7.883969

0.18719100000000122

In [58]:
8.071160 - 7.681614

0.38954600000000106

In [59]:
df.shape

(5163, 31)

In [60]:
df.reset_index(drop=True, inplace=True)

In [61]:
# Create new columns 'resident_latitude' and 'resident_longitude' 
# 'resident_latitude' is derived from '#lat_deg' by adding random values 
# 'resident_longitude' is derived from '#lon_deg' by adding random values

In [63]:
#df.drop(['resident_latitude'], inplace=True, axis=1) # drop if already exist
np.random.seed(0) 
df.insert(0, 'resident_latitude', df['latitude'] + 0.0051*np.random.rand(df.shape[0]))
#df.drop(['resident_longitude'], inplace=True, axis=1)
df.insert(1, 'resident_longitude', df['longitude'] + 0.00982*np.random.rand(df.shape[0]))

In [65]:
df.head()

,resident_latitude,resident_longitude,#lat_deg,#lon_deg,#status_id,#water_source,#water_source_clean,#water_tech_clean,#water_tech,#adm2,...,water_source,water_tech_clean,water_tech,adm2,management,pay,status,subjective_quality,water_point_location,latitude
0,7.370782,4.176604,7.367983,4.176017,Yes,Improved Protected dug well,Protected Shallow Well,Hand Pump,Hand pump,Irewole,...,Protected Shallow Well,Hand Pump,Hand pump,Irewole,Other,No,Functional (and in use),Acceptable quality,Community High School Oke Ada,7.367983
1,7.652567,4.533263,7.648920,4.529782,No,Improved Tube well or borehole,Borehole,Mechanized Pump,Motorised,Ede South,...,Borehole,Mechanized Pump,Motorised,Ede South,NaN,No,Non-functional Technical breakdown,Acceptable quality,Alajue,7.648920
2,7.739191,4.445299,7.736117,4.444280,Yes,Improved Protected dug well,Protected Spring,NaN,Gravity,Ede North,...,Protected Spring,NaN,Gravity,Ede North,NaN,No,Functional (and in use),Acceptable quality,alusekere,7.736117
3,7.633986,4.753020,7.631207,4.743375,Yes,Improved Protected dug well,Protected Shallow Well,Mechanized Pump,Motorised,Ilesha West,...,Protected Shallow Well,Mechanized Pump,Motorised,Ilesha West,Community Management,No,Functional (and in use),Acceptable quality,Ibosinni,7.631207
4,7.841122,4.479636,7.838962,4.478222,Yes,Improved Tube well or borehole,Borehole,Mechanized Pump,Motorised,Irepodun,...,Borehole,Mechanized Pump,Motorised,Irepodun,Direct Government Operation,No,Functional (and in use),Acceptable quality,Local Government Secretariat,7.838962

In [66]:
# Drop columns with # prefixes
cols_to_drop= ['#lat_deg', '#lon_deg', '#status_id', '#water_source',
       '#water_source_clean', '#water_tech_clean', '#water_tech', '#adm2',
       '#management', '#pay', '#status', '#subjective_quality', '#notes']
df.drop(cols_to_drop, axis=1, inplace=True)

In [67]:

def distance(lat1, lat2, lon1, lon2):
     
    # The numpy module contains a function named
    # radians which converts from degrees to radians.
    lon1a = np.radians(lon1)
    lon2a = np.radians(lon2)
    lat1a = np.radians(lat1)
    lat2a = np.radians(lat2)
      
    # Haversine formula
    
    dlon = np.radians(lon2 - lon1)
    dlat = np.radians(lat2 - lat1)
    a = np.sin(dlat / 2)**2 + np.cos(lat1a) * np.cos(lat2a) * np.sin(dlon / 2)**2
 
    #c = 2 * asin(sqrt(a))
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    r = 6371
      
    # calculate the result
    return np.round(c * r, 6)

In [68]:
distance_in_km = []
for row in df.itertuples(index=False):
   distance_in_km.append(
       distance(row.resident_latitude, row.latitude, row.resident_longitude, row.longitude)
   )

In [69]:
df['distance_in_km'] = distance_in_km

In [70]:
df.head()

,resident_latitude,resident_longitude,lat_lon_deg,clean_adm1,clean_adm2,water_source_original,management_clean,water_source_category,longitude,status_id,...,water_tech_clean,water_tech,adm2,management,pay,status,subjective_quality,water_point_location,latitude,distance_in_km
0,7.370782,4.176604,"(7.3679833°, 4.1760167°)",Osun,Irewole,improved protected dug well,Other,Well,4.176017,Yes,...,Hand Pump,Hand pump,Irewole,Other,No,Functional (and in use),Acceptable quality,Community High School Oke Ada,7.367983,0.317891
1,7.652567,4.533263,"(7.64892°, 4.5297817°)",Osun,Ede South,improved tube well or borehole,NaN,Well,4.529782,No,...,Mechanized Pump,Motorised,Ede South,NaN,No,Non-functional Technical breakdown,Acceptable quality,Alajue,7.648920,0.558306
2,7.739191,4.445299,"(7.7361167°, 4.44428°)",Osun,Egbedore,gravity,NaN,Spring,4.444280,Yes,...,NaN,Gravity,Ede North,NaN,No,Functional (and in use),Acceptable quality,alusekere,7.736117,0.359783
3,7.633986,4.753020,"(7.6312067°, 4.743375°)",Osun,Ilesha West,improved protected dug well,Community Management,Well,4.743375,Yes,...,Mechanized Pump,Motorised,Ilesha West,Community Management,No,Functional (and in use),Acceptable quality,Ibosinni,7.631207,1.106993
4,7.841122,4.479636,"(7.8389617°, 4.4782217°)",Osun,Orolu,improved tube well or borehole,Direct Government Operation,Well,4.478222,Yes,...,Mechanized Pump,Motorised,Irepodun,Direct Government Operation,No,Functional (and in use),Acceptable quality,Local Government Secretariat,7.838962,0.286314

In [71]:
print(distance(7.371183, 7.367983, 4.182517, 4.176017))

0.800255

In [72]:
lat1 = 53.32055555555556
lat2 = 53.31861111111111
lon1 = -1.7297222222222221
lon2 =  -1.6997222222222223
print(distance(lat1, lat2, lon1, lon2), "K.M")

2.004368 K.M

In [73]:
df.head()

,resident_latitude,resident_longitude,lat_lon_deg,clean_adm1,clean_adm2,water_source_original,management_clean,water_source_category,longitude,status_id,...,water_tech_clean,water_tech,adm2,management,pay,status,subjective_quality,water_point_location,latitude,distance_in_km
0,7.370782,4.176604,"(7.3679833°, 4.1760167°)",Osun,Irewole,improved protected dug well,Other,Well,4.176017,Yes,...,Hand Pump,Hand pump,Irewole,Other,No,Functional (and in use),Acceptable quality,Community High School Oke Ada,7.367983,0.317891
1,7.652567,4.533263,"(7.64892°, 4.5297817°)",Osun,Ede South,improved tube well or borehole,NaN,Well,4.529782,No,...,Mechanized Pump,Motorised,Ede South,NaN,No,Non-functional Technical breakdown,Acceptable quality,Alajue,7.648920,0.558306
2,7.739191,4.445299,"(7.7361167°, 4.44428°)",Osun,Egbedore,gravity,NaN,Spring,4.444280,Yes,...,NaN,Gravity,Ede North,NaN,No,Functional (and in use),Acceptable quality,alusekere,7.736117,0.359783
3,7.633986,4.753020,"(7.6312067°, 4.743375°)",Osun,Ilesha West,improved protected dug well,Community Management,Well,4.743375,Yes,...,Mechanized Pump,Motorised,Ilesha West,Community Management,No,Functional (and in use),Acceptable quality,Ibosinni,7.631207,1.106993
4,7.841122,4.479636,"(7.8389617°, 4.4782217°)",Osun,Orolu,improved tube well or borehole,Direct Government Operation,Well,4.478222,Yes,...,Mechanized Pump,Motorised,Irepodun,Direct Government Operation,No,Functional (and in use),Acceptable quality,Local Government Secretariat,7.838962,0.286314

In [74]:
# Missing values before
num_missing_values = df.isnull().sum().sum()
num_of_cells = np.product(df.shape)

percent_of_missing_values = np.round(num_missing_values/num_of_cells*100, 1)

print(percent_of_missing_values)

3.3

In [75]:
df= df.fillna(method='bfill')

In [76]:
# Missing values after 
num_missing_values = df.isnull().sum().sum()
num_of_cells = np.product(df.shape)

percent_of_missing_values = np.round(num_missing_values/num_of_cells*100, 1)

print(percent_of_missing_values)

0.0

In [77]:
df[['resident_latitude', 'resident_longitude', 'distance_in_km']].head()

   resident_latitude  resident_longitude  distance_in_km
0           7.370782            4.176604        0.317891
1           7.652567            4.533263        0.558306
2           7.739191            4.445299        0.359783
3           7.633986            4.753020        1.106993
4           7.841122            4.479636        0.286314

In [78]:
for col in df.columns:
    print(col)

resident_latitude
resident_longitude
lat_lon_deg
clean_adm1
clean_adm2
water_source_original
management_clean
water_source_category
longitude
status_id
water_source
water_tech_clean
water_tech
adm2
management
pay
status
subjective_quality
water_point_location
latitude
distance_in_km

In [88]:
df.status.head()

0               Functional (and in use)
1    Non-functional Technical breakdown
2               Functional (and in use)
3               Functional (and in use)
4               Functional (and in use)
Name: status, dtype: object

#### Save the clean and prepared dataframe in a sql database

In [91]:
 
# create an sqlite database engine using sqlalchemy
engine = create_engine('sqlite:///osun_water_points.db')
# save the df in a table if exists replace
df.to_sql('etlTable', engine, index=False, if_exists='replace')

### The dataframe can easily be loaded from the database as follows:

In [92]:
# Uncomment the next line while loading the dataframe in another file
# engine = create_engine('sqlite:///osun_water_points.db')
conn = engine.connect()

df = pd.read_sql_table('etlTable', con=conn)